*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.center {
    position: absolute;
    width: 360px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.top-bar {
    margin: 8px 8px 0px 16px;
    display: flex;
    height: 30px;
    font-size: 1.4rem;
    text-align: center;
    align-items: center;
}

.top-bar>p {
    flex-grow: 1;
    text-align: start;
}

topbar-actions>* {
    padding: 0px 2px;
}

.output {
    margin-top: 8px;
    margin-left: 8px;
    padding: 8px;
    height: 100px;
    grid-column: 1 / -1;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    word-wrap: break-word;
    word-break: break-all;
}

.output #pre-operand {
    font-size: 1.5rem;
}

.output #cur-operand {
    font-size: 2.5rem;
    font-weight: 600;
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4, 1fr);
    margin: 0px 8px 12px 0px;
}

.calculator-grid>button {
    cursor: pointer;
    margin: 8px 0px 0px 8px;
    height: 50px;
    border-radius: 6px;
    font-size: 1.2rem;
    font-weight: 600;
    outline: none;
}

.calculator-grid>button:hover {
    background-color: #999;
}

#equals:hover {
    background-color: rgba(0, 94, 255, 0.803);
}