*,
.table {
    padding: 0px;
    margin: 0px;
}

#esogu-logo {
    width: 100px;
    height: max-content;
    align-self: center;
    margin-left: 16px;
}

.exit>* {
    display: block;
    text-align: end;
}

.title {
    font-size: 1.4rem;
}

.second-bar {
    display: flex;
    margin-bottom: 8px;
}

.second-bar>button {
    padding: 4px 12px 8px 12px;
}

.bold {
    font-weight: 700;
}

.elements>.row:nth-of-type(odd) {
    background-color: white;
}

.elements>.row:nth-of-type(even) {
    background-color: rgb(218, 224, 255);
}

.table button {
    margin: .125rem;
}

.elements>.row {
    height: 50px;
    padding: 0px 8px;
}

.elements>.row>.col {
    display: flex;
    align-items: center;
    text-align: start;
}

.elements:has(.customcard) {
    display: grid;
}

@media screen and (min-width:1200px) {
    .elements:has(.customcard) {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width:1200px) {
    .elements:has(.customcard) {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 992px) {
    .elements:has(.customcard) {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .elements:has(.customcard) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.elements>.customcard {
    margin: .4rem .6rem;
    text-align: start;
    background-color: rgb(217, 239, 246) !important;
}

.elements>.customcard p {
    margin-bottom: 4px;
}

.elements>.customcard .row-cols-auto>.col {
    padding: 1px;
}

.table .row {
    margin: 0px;
}

.table-header,
.table-footer {
    background-color: rgb(220, 220, 220);
    height: 50px;
    align-items: center;
    text-align: start;
    font-weight: 700;
    padding: 0px 8px;
}

.pageNumber {
    font-weight: 400;
}